.App {
  text-align: center;
}

body {
  font-family: "Titillium Web";
  font-size: 16px;
}

.logo-section strong {
    display: inline;
}

.logo-section p {
  color: white;
  font-family: "Titillium Web";
  font-size: 16px;
  margin-left: 1rem;
  margin-top: 8px;
}

.logo-section {
  font-size: 0.9rem;
}

.logo-section a {
  display: inline-block;
  color: white;
}

.logo-section a:hover {
  color: white;
}

.main-logo {
  height: 86px;
  float: left;
  pointer-events: none;
}

.logo {
  height: 40px;
  float: left;
  pointer-events: none;
}

.mainBanner {
  min-height: 180px;
  background-color: #0066cc;
  color: white;
  font-size: 2.7rem;
}
.table thead {
  border-bottom: black 1px solid;
}

.table td:first-child,
.table th:first-child {
  border-right: black 1px solid;
}

.table th {
  padding: 5px !important;
  font-size: 14px;
  border-bottom: 1px solid #0f0f0f !important;
}

.table td {
  padding: 5px !important;
  font-size: 14px;
  border-bottom: 0px solid transparent !important;
}


.table th:nth-child(n+2),
.table td:nth-child(n+2) {
  text-align: center !important;
}

.it-header-slim-wrapper {
  height: 55px !important;
  padding: 0;
}


/*
 * Footer
 *
 */

.footer-wrapper strong {
    font-weight: bold;
}

.footer-wrapper {
  background-color: #01254C;
  color: white;
}

.logo_text h1, .logo_text .h1, .logo_text h2, .logo_text .h2 {
    font-size: 1.778em;
    font-weight: 700;
    line-height: 1.2em;
    color: #ffffff;
    display: block;
    margin: 8px 0 0 0;
    letter-spacing: -0.5pt;
}

strong {
    display: block;
}

.logo_wrapper {
    width: 74px;
    height: auto;
    display: block;
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.footer_container .logo_container {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.logo_container {
    margin: 0;
    margin: 48px 0 0 120px;
    margin-top: 48px;
    margin-bottom: 0px;
    margin-left: 120px;
    position: relative;
    z-index: 0;
}

.logo_text {
    padding: 0 0 0 100px;
}

.logo_wrapper a {
    display: block;
}

.h3_footer {
    font-size: 24px;
}

.footer-wrapper h4 {
    font-size: 21px;
}

.box_text_footer p {
    color: #a5abb0;
    font-size: 15px;
    letter-spacing: 0.16px;
}

.new_footer {
    padding-top: 20px;
}

.section_grey_darker h4, .section_grey_darker .h4 {
    color: #ffffff;
}

.box_text_footer {
    border-top: 1px solid #3e484f;
    padding: 50px 20px 50px 20px;
    color: #a5abb0;
    font-size: 0.88em;
}

.box_text_footer p a {
    color: #a5abb0;
    display: inline-block;
}

.footer-wrapper a {
    text-decoration: none;
}

.logo_wrapper img {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0 0 0 0;
    transition: all 0.3s ease;
}

footer a {
  color: white;
  margin: 0 8px 0 8px;
  text-decoration: underline;
}


footer a:hover {
  color: white;
}

ul.footer_links li a {
    color: #65dbde;
    margin: 0 8px 0 8px;
    text-decoration: underline;
}

ul.footer_links {
  list-style: none;
  list-style-image: none;
  list-style-image: none;
}

ul.footer_links li {
    display: inline;
}

/*
 * HBarChart
 *
 */
.hb-grid-hline .tick line,
.hb-grid-hline .domain {
  stroke: #3333330f;
}
.hb-title {
  font-size: 20px;
  text-anchor: middle;
  fill: #333;
}
.hb-bar {
  fill: #06c;
  stroke: #06f;
}
.hb-axis .tick line {
  stroke: #333;
}
.hb-axis .tick text {
  fill: #333;
}
.hb-axis .domain {
  stroke: #fff;
}

.hb-line {
  fill: none;
  stroke: #333;
  stroke-width: 3;
}
.hb-bartext {
  color: black;
  fill: black
}

/**
* BarChart
*
*/
.grid-hline .tick line,
.grid-hline .domain {
  stroke: #ffffff0f;
}
.title {
  font-size: 20px;
  text-anchor: middle;
  fill: #fff;
}
.title-bar {
  font-size: 20px;
  text-anchor: middle;
  fill: #fff;
  padding:10px;
}
.max-height-plot-1{
  height: 757px !important;
}
.bg-gradient-bar{
  height: 50%;
  width: 100%;
  position: absolute;
  bottom:0;
  left:0;
  background: #013366;

}
.bar {
  fill: #fff;
  stroke: #fff;
}
.axis .tick line {
  stroke: #fff;
}
.axis .tick text {
  fill: #fff;
}
.axis .domain {
  stroke: #fff;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}
.bartext {
  color: #fff;
  fill: #fff
}

.max-width-total{
  max-width: 450px;
}
.position-powerbi{
  position: relative;
  /* bottom:50px;  */
}
/* .map-area{
  zoom:0.77;
} */
@media (max-width: 992px) {
  .map-area{
    zoom:0.77;
  }
}

/**
* FONT SIZE
*
*/
.font-30{
  font-size: 30px;
}


.font-25{
  font-size: 25px;
}

.font-22{
  font-size: 22px;
}

.bold {
  font-weight: bold;
}