.App {
  text-align: center;
}

body {
  font-family: "Titillium Web";
  font-size: 16px;
}

.logo-section strong {
    display: inline;
}

.logo-section p {
  color: white;
  font-family: "Titillium Web";
  font-size: 16px;
  margin-left: 1rem;
  margin-top: 8px;
}

.logo-section {
  font-size: 0.9rem;
}

.logo-section a {
  display: inline-block;
  color: white;
}

.logo-section a:hover {
  color: white;
}

.main-logo {
  height: 86px;
  float: left;
  pointer-events: none;
}

.logo {
  height: 40px;
  float: left;
  pointer-events: none;
}

.mainBanner {
  min-height: 180px;
  background-color: #0066cc;
  color: white;
  font-size: 48px;
}
.table thead {
  border-bottom: black 1px solid;
}

.table td:first-child,
.table th:first-child {
  border-right: black 1px solid;
}
.table td,
.table th {
  padding: 5px !important;
  font-size: 14px;
}
.table th:nth-child(n+2),
.table td:nth-child(n+2) {
  text-align: center !important;
}

.topBanner {
  font-family: "Titillium Web";
  font-weight: 600;
  padding: 1em;
}
/*
 * Footer
 *
 */

footer {
  background-color: #30373d;
  color: white;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 8px 0 8px;
  text-decoration: underline;
}


footer a:hover {
  color: white;
}

footer ul li a {
    color: #65dbde;
    margin: 0 8px 0 8px;
    text-decoration: underline;
}

footer ul {
  list-style: none;
  list-style-image: none;
  list-style-image: none;
}

footer ul li {
    display: inline;
}

/*
 * HBarChart
 *
 */
.hb-grid-hline .tick line,
.hb-grid-hline .domain {
  stroke: #3333330f;
}
.hb-title {
  font-size: 20px;
  text-anchor: middle;
  fill: #333;
}
.hb-bar {
  fill: #06c;
  stroke: #06f;
}
.hb-axis .tick line {
  stroke: #333;
}
.hb-axis .tick text {
  fill: #333;
}
.hb-axis .domain {
  stroke: #333;
}

.hb-line {
  fill: none;
  stroke: #333;
  stroke-width: 3;
}
.hb-bartext {
  color: black;
  fill: black
}

/**
* BarChart
*
*/
.grid-hline .tick line,
.grid-hline .domain {
  stroke: #ffffff0f;
}
.title {
  font-size: 20px;
  text-anchor: middle;
  fill: #fff;
}
.bar {
  fill: #fff;
  stroke: #fff;
}
.axis .tick line {
  stroke: #fff;
}
.axis .tick text {
  fill: #fff;
}
.axis .domain {
  stroke: #fff;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}
.bartext {
  color: #fff;
  fill: #fff
}
