.App {
  text-align: center;
}

body {
  font-family: "Titillium Web";
  font-size: 16px;
}

.presidenza span {
  color: white;
  font-family: "Titillium Web";
  font-size: 16px;
  float: left;
  margin-left: 1rem;
}

.presidenza {
  color: white;
}

.logo-section {
  font-size: 0.9rem;
}

.logo-section a {
  display: inline-block;
  color: white;
}

.logo-section a:hover {
  color: white;
}

.main-logo {
  height: 86px;
  float: left;
  pointer-events: none;
}

.logo {
  height: 40px;
  float: left;
  pointer-events: none;
}

.mainBanner {
  min-height: 180px;
  background-color: #0066cc;
  color: white;
  font-size: 48px;
}
.table thead {
  border-bottom: black 1px solid;
}

.table td:first-child, .table th:first-child {
  border-right: black 1px solid;
}
.table td, .table th {
  padding: 5px !important;
  font-size: 14px;
}

.footer-wrapper {
  background-color: #0059b3;
}

#footer {
  font-size: 14px;
  background-color: #0059b3;
  color: white;
}

footer a {
  color: white;
  margin: 0 8px 0 8px;
  text-decoration: underline;
}

footer a:hover {
  color: white;
}

ul.footer_links {
  list-style: none;
  list-style-image: none;
  list-style-image: none;
}

ul.footer_links li {
    display: inline;
}
